img {
  border-radius:50% 50% 50% 50%;
  width: 150px;
  border: 2px solid black;
  margin: 10px;
}
.card{
  border: 3px solid black;
  width: 70%;
  text-align: center;
  background-color:cyan ;
}
*{
  background-color: magenta;
}
p{
  background-color: aqua;
  font-size: 16px;
  text-decoration: underline;
}